[package]
name = "kms"
version = "0.1.0"
authors = ["Rivtower Technologies <contact@rivtower.com>"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
cloud-util = { package = "cloud-util", git = "https://github.com/cita-cloud/cloud-common-rs" }

anyhow = "1.0"
axum = "0.6"
clap = { version = "4.4", features = ["derive"] }
efficient-sm2 = "0.2"
ethers = { version = "2.0", default-features = false }
hex = "0.4"
once_cell = "1.18"
parking_lot = "0.12"
regex = "1.9"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.0", features = ["full"] }
tracing = "0.1"

[profile.release.package."*"]
# Set the default for dependencies.
debug = 0

[profile.release]
# Add debug info -- line tables only
debug = 1
